.services-section {
  padding: 100px 60px;
  background-color: #121212;
  color: white;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.services-section h2 {
  font-size: 3rem;
  margin-bottom: 70px;
  color: #00bfff;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  width: 100%;
  padding: 10px;
}

.service-card {
  background-color: #2ea09a00;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 191, 255, 0.08);
  transition: all 0.35s ease;
  cursor: pointer;
  border: 2px solid transparent;
  text-align: center;
}

.service-card:hover {
  transform: translateY(-8px);
  background-color: #1e518aa4; /* 🔹 bluish hover */
  box-shadow: 0 12px 40px rgba(0, 191, 255, 0.4);
}


.service-card .icon {
  font-size: 3.2rem;
  color: #175ec8;
  margin-bottom: 25px;
}

.service-card h3 {
  font-size: 1.9rem;
  margin-bottom: 16px;
  color: #ffffff;
}

.service-card p {
  font-size: 1.2rem;
  color: #d4d4d4;
  line-height: 1.7;
  padding: 0 10px;
}

/* Responsive: Tablet */
@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

/* Responsive: Mobile */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
     gap: 40px; /* tablet */
    gap: 30px;
  }

  .services-section {
    padding: 60px 20px;
  }

  .service-card {
    padding: 30px;
  }

  .service-card h3 {
    font-size: 1.7rem;
  }

  .service-card p {
    font-size: 1.1rem;
  }
}
